node_modules
.env
agent-play-credentials.json
*/**/agent-play-credentials.json
.env.local
packages/*/.env.local
docs/api-reference
*-lock.json
.next
dist
packages/web-ui/content/docs
packages/*/.root
buffer.txt